@media only screen and (min-width: 991px) and (max-width: 1199px)  {
    .TheBright{
        font-size: 3.4rem !important;
    }
    .linktitle{
      font-size: 1rem;
    }
    .margesection{
      margin-top: 1rem;
    }
    .paragrapnumber{
      font-size: 0.9rem;
    }
  }

@media only screen and (max-width: 990px) {
    .TheBright{
        font-size: 2rem;
    }
    .mergerespo{
      margin-top: 2rem;
    }
    .sidebarcol{
        padding: 1rem;
    }
    .margesection{
      margin-top: 0.5rem;
    }
    .paragrapnumber{
      font-size: 1rem;
    }
    .soustitre{
      color: #ececec;
      font-weight: 300;
      font-size: 0.85rem;
      line-height: 1.4;
    }
    .linktitle{
      text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    }
  }