@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*definir la font general de la page dans le body*/
body{
    font-family: 'Inter';
}

/*Definir les couleur de la pages*/
.colordark{ color: #000017;}
.colorgold{ color: #e4a84f;}
.colorlight{ color: #c5c2ca;}




.TheBright{
    font-weight: 900;
    font-size: 4rem;
}
.containAlignment {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.sidebarcol{
    background-color: #000017;
    padding: 2rem;
}
.new{
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 800;
}
.linktitle{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
}
.linktitle:hover{
    color: #e4a84f;
}
.soustitre{
    color: #ececec;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
}
.trai{
    color: #fff;
}
.buttonStype{
    border-radius: 0;
    width: 50%;
    border: 0;
    font-size: 0.85rem;
    background-color: #f15d51;
    color: #fff;
    font-weight: 500;
    letter-spacing: 6px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.buttonStype:hover{
    background-color: #000017;
}
.linktitledark{
    text-decoration: none;
    text-transform: capitalize;
    color: #000017;
    font-weight: 600;
    font-size: 1rem;
}
.linktitledark:hover{
    color: #f15d51;
}
.containumber {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.number{
    color: #c1c1c1;
    font-size: 1.8rem;
    font-weight: 900;
}
.alignercolumn{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.mergerespo2{
    margin-top: 2rem;
}
.margesection{
    margin-top: 2rem;
}
.paragrapnumber{
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 0;
  }